ul,li{
  list-style:none
}
$rest = {

}
p{
  padding : 0;
  margin : 0;
}


.font12
  font-size 12px
.font14
  font-size 14px
.fon16
  font-size 16px

.text-center
  text-align center
.flex
  display flex
.flex1
  flex 1
